.sampulBackground{
  background: url('/image/background/bg-paper.jpg') no-repeat center;
  background-size: cover;
}

.vContainer {
  width: 100%;
  height: 370px;
}

.vContainer .imgHead {
  height: 100%;
  width: 100%;
  object-fit: cover;
  -webkit-mask-size: cover;
  mask-size: cover;
}

.vOne {
  -webkit-mask-image: url('/image/background/frame-white.jpg');
  mask-position: center;
  mask-image: url('/image/background/frame-white.jpg');  
}

.bridgeWord {
  background: url('/image/background/natural-light.jpg') no-repeat center;
  background-size: cover;
}